body {
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/;
}

html, body {margin: 0; height: 100%; overflow-x: hidden}

h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}